<app-card> <!-- componente importado  CardComponent-->
  <article>
    <h2>{{ task().title }}</h2>
    <time>{{ task().dueDate | date : "fullDate" }}</time> <!-- Usando el pipe date, formatea la fecha (task().dueDate) en un formato de fecha completo (como "Monday, July 22, 2024"). El formato "fullDate" es uno de los formatos predefinidos en Angular para fechas. -->
    <p>{{ task().summary }}</p>
    <p class="actions">
      <button (click)="onComplete()">Complete</button>
    </p>
  </article>
</app-card>
