main { /* main es una etiqueta del app.component.html */
  width: 90%; /* Establece el ancho del elemento main al 90% del ancho del contenedor padre. */
  max-width: 50rem; /* Limita el ancho máximo del elemento main a 50 rems. Esto asegura que main no se expanda demasiado en pantallas muy grandes. */
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row; /* Establece que los elementos hijos de main se coloquen automáticamente en filas sucesivas. */
  gap: 2rem;
}

@media (min-width: 768px) { /* aplica estilos específicos cuando el ancho de la pantalla es de al menos 768 píxeles en adelante. */
  main {
    margin: 4rem auto;
    grid-template-columns: 1fr 3fr; /* el contenido se distribuye en 2 columnas, la primera 3 veces mas pequeña que la segunda */
  }
}
